.chat-user.clearfix
  %h5= current_user.name
  .chat-user__actions
    = link_to new_chat_group_path, {class: "chat-user__action"} do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path, {class: "chat-user__action"} do
      %i.fa.fa-cog

%ul.chat-groups
  - current_user.chat_groups.each do |chat_group|
    %li.chat-group
      = link_to chat_group_messages_path(chat_group), {class: "chat-group__link"} do
        %p.chat-group__name= chat_group.team
        %p.chat-group__message
          - if chat_group.messages.last.blank?
            まだメッセージはありません。
          - else
            = chat_group.messages.last.body

